@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,400,600,300italic,600italic");

/* Base stuff */

body {
	background-color: rgb(246,246,246);
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65;
	padding: 10pt;
	padding-top: 85px;
}

h1, h2, h3, h4, h5, h6 {
	color: #2c3e50;
	font-size: 1.5em;
	letter-spacing: .1px;
}

/* Navigation Menu */

#menu {
	position: absolute;
	padding: .3em;
	margin-left: .45em;
	top: .2em;
	width: 100%;
}

#menu li {
	display: inline-block;
	font-size: .9em;
	font-weight: 300;
	padding: .1em;
}

#menu a {
	padding: .3em;
	text-decoration: none;
	border-radius: .2em;
	margin: .1em;
	transition: color .2s ease-in, 
		/* background .2s ease-in*/;
}

#menu a:hover{
	color:#f1c40f;
}

/* About Section */

#about h1 {
	font-size: 1.5em;
}

#about h2 {
	font-size: 1em;
}

.circle {
	height: 200px;
	width: 200px;
	border-radius: 20em;
	background-color: #3498db;
	float: right;
	overflow: hidden;
}

.circle img {
	height: 100%;
	width: 100%;
	display: block;
}

/* Social */

.social {
	display: block;
	float: left;
}

.icon {
	color: rgb(26,26,26);
	transition: color .1s ease-in;
	padding: .2em;
}

.icon:hover {
	color: #3498db;
}

