@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,400,600,300italic,600italic");

/* General */

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65;
	margin-top: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #2c3e50;
	letter-spacing: .1px;
}

a {
	text-decoration: none;
}


.sliding-middle-out {
    display: inline-block;
    position: relative;
}

.sliding-middle-out:after, .sliding-middle-out:visited {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: #2575bb;
}

/* Navigation Menu */

#nav {
	background: #fff;
    border-bottom: 1px solid #f2f2f2;
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 2.5em;
    text-align: center;
}

#menu li {
	display: inline-block;
	font-size: .9em;
	padding: .1em;
}

#menu a {
	padding: .3em;
	margin: .1em;
	font-weight: 400;
}

/* About Section */

#about {
	border-bottom: 1px solid #f2f2f2;
	background-color: rgb(246,246,246)
}

#about h1 {
	font-size: 1.5em;
	padding-left: .1em;
}

#about p {
	padding-left: .1em;
}

#about h2 {
	font-size: 1em;
}

.circle {
	height: 12em;
	width: 12em;
	border-radius: 20em;
	background-color: #3498db;
	float: right;
	overflow: hidden;
	position: relative;
	top: 20px;
	box-shadow: 0px 1px 5px #888888;
}

.circle > img {
	height: 100%;
	width: 100%;
	display: inline-block;
}

/* Social */

.social {
	position: relative;
	right: 2.75em;
	float: left;
}

.icon {
	color: rgb(26,26,26);
	transition: color 150ms ease-in;
	padding: .1em;
}

.icon:hover {
	color: #3498db;
}

/* Portfolio */

#portfolio {
	background-color: #cce6ff;
}

/* Card */

.card-container {
	margin: 1em 2.3em 1em 2.3em;
	text-align: center;
}

.card {
	display: inline-block;
	position: relative;
	height: 300px;
	width: 500px;
	background-color: #fff;
	border-radius: 1em;
	box-shadow: 0px 2px 3px #cccccc;
	text-align: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.card > h4 {
	padding-left: .25em;
	padding-right: .25em;
}

.line {
	height: 3px;
	background-color: #e6e6e6;
	box-shadow: 0px 2px 1px rgb(246,246,246);
}

.source {
	position: absolute;
	top: 11.5em;
	left: .3em;
	right: .3em;
	bottom: 1em;
}







