@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,400,600,300italic,600italic");

/* General */

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65;
/*	margin-top: 2.5em;*/
	justify-content: center;
}


h1, h2, h3, h4, h5, h6 {
	color: #2c3e50;
	letter-spacing: .1px;
}

a {
	text-decoration: none;
}

.colorful {
	color: #2ecc71;
}


.sliding-middle-out {
    display: inline-block;
    position: relative;
}

.sliding-middle-out:after, .sliding-middle-out:visited {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: #2575bb;
}

/* Navigation Menu */

#nav {
	background: #fff;
    border-bottom: 1px solid #f2f2f2;
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-bottom: 2.5em;
    text-align: center;
}

#menu li {
	display: inline-block;
	font-size: .9em;
	padding: .1em;
}

#menu a {
	padding: .3em;
	margin: .1em;
	font-weight: 400;
}

/* About Section */

#about {
	border-bottom: 1px solid #f2f2f2;
	background-color: #FAFAFA;
	text-align: justify;
}

#about h1 {
	font-size: 1.5em;
	padding-left: .1em;
}

#about p {
	padding-left: .1em;
}

#about h2 {
	font-size: 1em;
}

@media (max-width: 374px) {
	.circle {
		display: none;
	}
}

@media (min-width: 375px) 
  and (max-width: 1000px) { 
	#about {
		text-align: center;
	}
	
	.circle {
		height: 11em;
		width: 11em;
		border-radius: 20em;
		background-color: #3498db;
		overflow: hidden;
		position: relative;
		top: 20px;
		box-shadow: 0px 1px 5px #888888;
		margin: 0 auto;
		margin-bottom: 20px;
		margin-top: 10px;
	}

	.circle > img {
		height: auto;
		width: 100%;
		margin-top: -1.25em;
		display: inline-block;
	}

}

@media (min-width: 1001px) 
  and (max-width: 1920px) { 
	  #about {
		  text-align: justify;
	  }
	.circle {
		height: 11em;
		width: 11em;
		border-radius: 20em;
		background-color: #3498db;
		float: right;
		overflow: hidden;
		position: relative;
		top: 20px;
		box-shadow: 0px 1px 5px #888888;
	}

	.circle > img {
		height: auto;
		width: 100%;
		margin-top: -1.25em;
		display: inline-block;
	}
}


/* Social */

.icon {
	color: rgb(26,26,26);
	transition: color 125ms ease-in;
	padding: .1em;
}

.icon:hover {
	color: #3498db;
}

/* Card */

.card-bg {
	background-color: #87cbf8;
}

.card {
	display: block;
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #fff;
	border-radius: .5em;
	box-shadow: 0px 3px 0px #c6c6c6;
	text-align: center;
	margin: 1em auto;
	overflow: hidden;
	border-top: solid 1px #efefef;
	border-left: solid 1px #efefef;
	border-right: solid 1px #efefef;
	justify-content: center;
}

.card h4 {
	padding: 0em 1em 0em 1em;
	font-size: .8em;
}

.line {
	height: 3px;
	background-color: #e6e6e6;
	box-shadow: 0px 2px 1px rgb(246,246,246);
}

.source {
	position: absolute;
	top: 11.5em;
	left: .3em;
	right: .3em;
	bottom: 1em;
	margin-top: .6em;
}

/* Contact */

#from, #subject, #email-body {
	border: 2px dashed #d3d3d3;
	transition: border 200ms ease-in;
	padding: 5px;
	font-size: 12pt;
}

#email-body:focus {
	border-color: #2ecc71;
	outline: none !important;
}

/* Custom Animations */

#about p {
	animation: Picture 800ms ease-in-out 0s;
}

.card {
	animation: Cards 500ms ease-in-out 0s;
}

@keyframes Picture {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
	}
}

@keyframes Cards {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
