/* Link Sliding Transitions */

a {
    text-decoration: none;
}
.colorful {
    color: #2ecc71;
}
.sliding-middle-out {
    display: inline-block;
    position: relative;
}
.sliding-middle-out:after,
.sliding-middle-out:visited {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: #2575bb;
}

/* Custom Animations */

#about p {
    animation: Picture 800ms ease-in-out 0s;
}
.card {
    animation: Cards 500ms ease-in-out 0s;
}
@keyframes Picture {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
    }
}
@keyframes Cards {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}