.projects {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

}

.project-box {
    flex: 1 31%;
    color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    background-color: #2d2d2d;
    transition: box-shadow 150ms ease-in;
    margin: 1%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}


.btn-more {
    padding: 10px;
    margin: 10px 0;
    width: 100px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Lato', 'Helvetica', sans-serif;
    color: #3f3f3f;
    border: none;
    transition: animation 0s ease-in;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        animation: pop 400ms ease-in 0s;
    }

    &:active, &:focus {
        outline: none;
    }
}

.title {
    color: #fafafa;
    font-weight: 400;
}

.subtitle {
    color: #fafafa;
    font-weight: 200;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
}
