/* Social */

.icon {
    color: rgb(26, 26, 26);
    transition: color 125ms ease-in;
    padding: .1em;
    margin: .1em;

    &:hover {
        color: #219adb;
        text-decoration: none !important;
    }
}